body {
    font-family: Roboto;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    background-image: url("/docs/images/sky.jpg");
    /* background-image: url("https://github.com/chelseadoeleman/frontend-data/blob/master/docs/images/sky.jpg?raw=true"); */
    background-size: cover;
    background-color: #2b2b2b;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

/* .tree {
    display: flex;
    justify-content: center;
} */

.data {
    display: flex;
    justify-content: center;
}

.tree .node text {
    font-family: Raleway;
    font-size: 12px;
    max-width: 50px;
}

.line {
    fill: none;
    stroke-width: 2px;
  }

  .node circle {
    stroke-width: 2px;
  }
  
  .link {
    fill: none;
    stroke-width: 2px;
  }

  div.tooltip {	
    position: absolute;			
    text-align: center;
    min-width: 80px;
    max-width: 175px;				
    min-height: 18px;
    max-height: 35px;					
    padding: 5px;				
    font: 12px Raleway;
    font-weight: 800;		
    background: white;
    border: 0px;		
    border-radius: 5px;			
    pointer-events: none;
    color: darkblue;			
}
  
div.html {
    align-items: center;
    margin: 5px;
}
  

