body {
    font-family: Roboto;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    background-image: url("docs/images/sky.jpg");
    background-size: cover;
    background-color: #2b2b2b;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

/* .tree .node {
    display: flex;
    flex-wrap: wrap
} */

.data {
    display: flex;
    justify-content: center;
}

.tree .node text {
    font-family: Raleway;
    font-size: 12px;
    max-width: 50px;
}

.line {
    fill: none;
    /* stroke: rgb(255, 164, 194); */
    stroke-width: 2px;
  }

  .node circle {
    /* fill: rgba(255, 164, 194, .4);
    stroke: rgb(255, 164, 194); */
    stroke-width: 2px;
  }
  
  .link {
    fill: none;
    /* stroke: rgb(199, 19, 88); */
    stroke-width: 2px;
  }
  

