body {
    font-family: Roboto;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    background-image: url("/docs/images/sky.jpg");
    background-size: cover;
    background-color: #2b2b2b;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

.data {
    margin-top: 10em;
    display: flex;
    justify-content: center;
}

.line {
    fill: none;
    stroke: rgb(219, 41, 79);
    stroke-width: 2px;
  }

  

